@model List<OnlineTestApp.Models.ExamTakingModel>

@{
    ViewBag.Title = "ExamTaking";
}

<h2>ExamTaking</h2>
@using (Html.BeginForm())
{


    for (int i = 0; i < Model.Count(); i++)
    {
        <div id="@Model[i].Question.QuestionId">
            Html.LabelFor(x => x[i].Question.QuestionName);
            <ol type="A" id="option_menu">
                <li>@Html.RadioButtonFor(x => x[i].Question.Option1, Model[i].Choice)</li>
                <li>@Html.RadioButtonFor(x => x[i].Question.Option2, Model[i].Choice)</li>
                <li>@Html.RadioButtonFor(x => x[i].Question.Option3, Model[i].Choice)</li>
                <li>@Html.RadioButtonFor(x => x[i].Question.Option4, Model[i].Choice)</li>
            </ol>
        </div>
     
       <hr/>
    }

}