@model OnlineTestEntities.Questionset

@{
    ViewBag.Title = "DetailQuestionSet";
}

<h2>DetailQuestionSet</h2>

<div>
    <h4>Questionset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionSetCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionSetCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAlreadyUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAlreadyUsed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditQuestionSet", new { id = Model.QuestionSetId }) |
    @Html.ActionLink("Back to QuestionSet", "ListOfQuestionSet")
</p>
